<!DOCTYPE html>
<html>
  <head>
    <title>FakeBank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/alerts' %>m ,,
    <li><%= link_to "Accounts", "/accounts" %></li>
    <li><%= link_to "Transactions", "/transactions" %></li>
    <%= yield %>
  </body>
</html>
