<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @account.name %>
</p>

<p>
  <strong>User:</strong>
  <dd><%= @account.user.email %></dd>
</p>

 <dt>Amount:</dt>
 <td><%= @account.balance %></td>

 <% if current_user && current_user.admin %>
<%= link_to 'Edit', edit_account_path(@account) %> |
<% end %>
<%= link_to 'Back', accounts_path %>
